<!DOCTYPE html>
<html><head>
<title>Seinfeld Calendar</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Seinfeld Calendar - Use Jerry Seinfeld's unique calendar technique to improve productivity and build habits" />
<meta name="keywords" content="Seinfeld Calendar, productivity, motivate yourself, life hacks, don't break the chain, build habit" />
	<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" media="all" href="../static/style/layout.css">
	<link rel="shortcut icon" href="../static/images/favicon.ico"/>
</head>
<body>
<div id="cover">
	<div class="header">
	<div class="container_12 clearfix">
		<div class="grid_12">
			<h1><a href=""></a></h1>
			
				<div class="nav">
					{% if loginForm.errors %}
						<p class="error">Invalid username or password</p>
					{% endif %}
					<form action='' method='POST'>
						{% csrf_token %}
						<table>
								<tbody>
									<tr>
										<td><span class="label">Username</span></td>
										<td><span class="label">Password</span></td>
									</tr>
									<tr>
										<!--<td><input id="id_username" type="text" name="username" maxlength="30" class="textinput"></td>
										<td><input id="id_password" type="password" name="password" maxlength="30" class="textinput"></td>-->
										<td>{{loginForm.username}}</td>
										<td>{{loginForm.password}}</td>
										<td><input type="submit" name='login' value="Log In" class="submit"></td>
									</tr>
								</tbody>
						</table>
					</form>
				</div>
			
		</div>
	</div>
	</div>	

	<div id="banner">
		<div class="container_12 clearfix">
		<br/>
			
			<div class="grid_7">
				<h2>Don't break the chain...</h2>
				<p>Starting out with something new and having trouble doing it regularly? Grab a Seinfeld Calendar, put a big red mark over every day you do it, and let the streak grow. You'll hate to break the chain, especially when you have a few days under your belt. 
				<br/>
				<br/><i>Simple, but it works.</i><br/><br/><br/><br/><br/><br/><br/>
				
			</div>
			<div class="grid_5 image">
				<img src="../static/images/seinfeld.png" width="100%"/>	
				
			</div>
			<hr/>
		</div>		
	</div>

	<div id="content" class="container_12 clearfix ">
		<div class="grid_4 democlass">
			<br/><br/>
			<h3>Not convinced yet?</h3>
			<a href="../demo/" class="submit2">Try a demo</a><br/><br/></p>
		</div>

		<div class="grid_3 democlass">
		<br/><br/
		<br/><br/>
		<h3>-- OR --<h3>
		</div>
		<div class="grid_4 push_1">
			<form action='' method='POST'>
				{% csrf_token %}		
				<table cellspacing="0" cellpadding="1">
					<tbody>
						<tr>
						<td class="label2"><label for="id_username">Username: </label></td>
						<td>
							{{signupForm.username}}<br/>
							{% if signupForm.username.errors %}
								{% for error in signupForm.username.errors %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							{% endif %}		
									
						</td>
						</tr>

						<tr>
						<td class="label2"><label for="id_password" >Password:  </label></td>
						<td>
							{{signupForm.password}}<br/>
							{% if signupForm.password.errors %}
								{% for error in signupForm.password.errors %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							{% endif %}
						</td>
						</tr>

						<tr>
						<td class="label2"><label for="id_email" >Email:  </label></td>
						<td>
							{{signupForm.email}}<br/>
							{% if signupForm.email.errors %}
								{% for error in signupForm.email.errors %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							{% endif %}
						</td>
						</tr>

						<tr>
						<td>&nbsp;</td>
						<td><input value="Sign Up. It's Free" type="submit" class="submit2" name='signup'></td>
						</tr>
					</tbody>
				</table>
			</form>	
		</div>
	</div>
			
		
	<div class="footer">
		<div class="container_12 clearfix ">
					<p><a href="mailto:contact@sein-cal.co.cc" class="float">Contact Us.</a>Seinfeld Calendar. 2011. All Rights Reserved.</p>
		</div>
	</div>	
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23756830-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>