
body{
	font-size: small;
	font-family: Verdana, Tahoma,sans-serif;
	color: #555;
	background:#fefefe;
}

.header {
	background: #000;
	padding: 3px 0 1px 0;
}
.wrap{	width:1186px;
	margin: 0 auto;
	margin-top:30px;
}

.row{
	display:inline-block;
}
.clear{
	clear:both;
}

.label{
	float:left;
	height:35px;
	width: 39px;
	text-align: right;
}
.day{
	height: 33px;
	width: 33px;
	float:left;
	border: 1px solid #ccc;
	margin: 1px;
}

p{
	padding: 0px;
	margin: 3px;
	padding-right: 5px;
}

a{
text-decoration: none;
color: #BC7134;
}

a:hover{
text-decoration:underline;}

.daylabel{
	float:left;
	width: 37px;
}

.editable{
	cursor:pointer ;
	border-color: #000;
}

.highlight{
	background-color: #db4d4c;
}

.start{
	border-color: #0f0;
}
.miss{
	background-color: #4d4d4d;
}

ul,li{
list-style:none;
display:inline;}

.menu{
text-align:right;
margin-bottom:20px;
margin-right: 5px;}

.day{
-webkit-border-radius: 2px;}

p{ font-family: 'Special Elite', arial, serif; }

.window p{
font-size: large;
line-height:1.7em;}

.editable{
cursor:pointer;}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#dialog2 {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
  background:url(../images/notice.png) no-repeat 0 0 transparent; 
  width:326px; 
  height:229px;
  padding:50px 0 20px 25px;
}


